Watson/flows.json
[
    {
        "id": "915557c42c5b38fe",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "616b8b98766ed7cd",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9bf591f84937b9eb",
        "type": "telegram bot",
        "botname": "FAQ_fiap_1tdsf22_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "b44a34da441702fa",
        "type": "telegram bot",
        "botname": "FAQ_fiap_1tdsf22_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "5511ba9d38f3756a",
        "type": "debug",
        "z": "915557c42c5b38fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 60,
        "wires": []
    },
    {
        "id": "9a583c305e06225f",
        "type": "telegram receiver",
        "z": "915557c42c5b38fe",
        "name": "",
        "bot": "b44a34da441702fa",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 190,
        "y": 160,
        "wires": [
            [
                "5511ba9d38f3756a",
                "b073d507d61cdf38"
            ],
            []
        ]
    },
    {
        "id": "72e298fbddd106ec",
        "type": "telegram sender",
        "z": "915557c42c5b38fe",
        "name": "",
        "bot": "b44a34da441702fa",
        "haserroroutput": false,
        "outputs": 1,
        "x": 710,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "55a77423cd382020",
        "type": "watson-assistant-v2",
        "z": "915557c42c5b38fe",
        "name": "Assistente de Ecommerce",
        "service-endpoint": "https://api.us-south.assistant.watson.cloud.ibm.com/instances/ac643480-afc9-4e2a-9f17-0bd18d478391",
        "assistant_id": "68ba01e8-5f32-4fb4-b1c4-b923a0aa2259",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 470,
        "y": 300,
        "wires": [
            [
                "5e1ce1d3abb7fd3e",
                "fd585ba376c9fe54"
            ]
        ]
    },
    {
        "id": "b073d507d61cdf38",
        "type": "function",
        "z": "915557c42c5b38fe",
        "name": "ProcIN",
        "func": "msg.params={\n    'session_id': msg.payload.chatId\n}\nmsg.payload = msg.payload.content;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 240,
        "wires": [
            [
                "55a77423cd382020",
                "cbcb59f15debee27"
            ]
        ]
    },
    {
        "id": "5e1ce1d3abb7fd3e",
        "type": "function",
        "z": "915557c42c5b38fe",
        "name": "ProcOUT",
        "func": "msg.payload = {\n    'content':msg.payload.output.generic[0].text,\n    'chatId':msg.params.session_id,\n    'type':'message'\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 240,
        "wires": [
            [
                "72e298fbddd106ec",
                "efcafa54872f52ad"
            ]
        ]
    },
    {
        "id": "cbcb59f15debee27",
        "type": "debug",
        "z": "915557c42c5b38fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 60,
        "wires": []
    },
    {
        "id": "fd585ba376c9fe54",
        "type": "debug",
        "z": "915557c42c5b38fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 60,
        "wires": []
    },
    {
        "id": "efcafa54872f52ad",
        "type": "debug",
        "z": "915557c42c5b38fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 120,
        "wires": []
    },
    {
        "id": "ea8c6183b781f763",
        "type": "telegram receiver",
        "z": "616b8b98766ed7cd",
        "name": "",
        "bot": "b44a34da441702fa",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 110,
        "y": 160,
        "wires": [
            [
                "b957919a88121551",
                "f3151d7647c69b32"
            ],
            []
        ]
    },
    {
        "id": "93e60638c049adbd",
        "type": "telegram sender",
        "z": "616b8b98766ed7cd",
        "name": "",
        "bot": "b44a34da441702fa",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1230,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "b957919a88121551",
        "type": "function",
        "z": "616b8b98766ed7cd",
        "name": "ProcIN",
        "func": "msg.params = {\n    'session_id':msg.payload.chatId\n}\nmsg.payload = msg.payload.weblink\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 160,
        "wires": [
            [
                "bb092e7d0be7d2ca",
                "a69cade595fd11ac"
            ]
        ]
    },
    {
        "id": "44a68f7c107a0995",
        "type": "function",
        "z": "616b8b98766ed7cd",
        "name": "ProcOUT",
        "func": "msg.payload = {\n    'content':msg.payload,\n    'chatId':msg.params.session_id,\n    'type':'voice'\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 220,
        "wires": [
            [
                "93e60638c049adbd",
                "5bab24b10af73ff1"
            ]
        ]
    },
    {
        "id": "bb092e7d0be7d2ca",
        "type": "watson-speech-to-text",
        "z": "616b8b98766ed7cd",
        "name": "STT",
        "alternatives": 1,
        "speakerlabels": false,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "kV63Dm220OPrTGw_fsXlUIW5cSLyp2XTOvewZNmwI13B",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/754d699d-64e3-4572-baf2-4548ce4a123b",
        "x": 490,
        "y": 160,
        "wires": [
            [
                "04d7a28e48abed38",
                "8ee950d4b8400c77"
            ]
        ]
    },
    {
        "id": "f3151d7647c69b32",
        "type": "debug",
        "z": "616b8b98766ed7cd",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 150,
        "y": 60,
        "wires": []
    },
    {
        "id": "a69cade595fd11ac",
        "type": "debug",
        "z": "616b8b98766ed7cd",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 60,
        "wires": []
    },
    {
        "id": "5bab24b10af73ff1",
        "type": "debug",
        "z": "616b8b98766ed7cd",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 60,
        "wires": []
    },
    {
        "id": "04d7a28e48abed38",
        "type": "debug",
        "z": "616b8b98766ed7cd",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 60,
        "wires": []
    },
    {
        "id": "263aedc85cd94a0f",
        "type": "debug",
        "z": "616b8b98766ed7cd",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 320,
        "wires": []
    },
    {
        "id": "8ee950d4b8400c77",
        "type": "watson-assistant-v2",
        "z": "616b8b98766ed7cd",
        "name": "",
        "service-endpoint": "https://api.us-south.assistant.watson.cloud.ibm.com/instances/ac643480-afc9-4e2a-9f17-0bd18d478391",
        "assistant_id": "68ba01e8-5f32-4fb4-b1c4-b923a0aa2259",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 490,
        "y": 260,
        "wires": [
            [
                "263aedc85cd94a0f",
                "0c1af327fa4dca4e",
                "e0c4a66854248482"
            ]
        ]
    },
    {
        "id": "63fd6d367af91829",
        "type": "watson-text-to-speech",
        "z": "616b8b98766ed7cd",
        "name": "TTS",
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "pt-BR_IsabelaV3Voice",
        "voicehidden": "",
        "format": "audio/wav",
        "password": "",
        "apikey": "PZD-dohOrfH2_9Bvuf66-2LF0d048bPgA00qoAKV557s",
        "payload-response": true,
        "service-endpoint": "https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/593a647c-7169-4b69-8662-01d684a50678",
        "x": 870,
        "y": 220,
        "wires": [
            [
                "44a68f7c107a0995"
            ]
        ]
    },
    {
        "id": "0c1af327fa4dca4e",
        "type": "debug",
        "z": "616b8b98766ed7cd",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 60,
        "wires": []
    },
    {
        "id": "e0c4a66854248482",
        "type": "function",
        "z": "616b8b98766ed7cd",
        "name": "",
        "func": "msg.payload = msg.payload.output.generic[0].text;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 220,
        "wires": [
            [
                "63fd6d367af91829"
            ]
        ]
    }
]
