Watson/flows_cloudant_telegram.json
[{"id":"915557c42c5b38fe","type":"tab","label":"Flow 1","disabled":true,"info":"","env":[]},{"id":"616b8b98766ed7cd","type":"tab","label":"Flow 2","disabled":true,"info":"","env":[]},{"id":"997f1a68.05f248","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"fabd9cf20e326148","type":"tab","label":"Flow 5","disabled":true,"info":"","env":[]},{"id":"4accdecd2663e5cd","type":"tab","label":"Flow 3","disabled":true,"info":"","env":[]},{"id":"7d39095d9a26ebd3","type":"tab","label":"Flow 6","disabled":true,"info":"","env":[]},{"id":"2488d253d8cf8225","type":"tab","label":"Flow 4","disabled":false,"info":"","env":[]},{"id":"9bf591f84937b9eb","type":"telegram bot","botname":"FAQ_fiap_1tdsf22_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"b44a34da441702fa","type":"telegram bot","botname":"FAQ_fiap_1tdsf22_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"6a840a6f.80ab34","type":"telegram bot","botname":"t.me/FAQ_fiap_1tdsf22_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"7cf500d5da23c9bc","type":"telegram bot","botname":"FAQ_fiap_1tdsf22_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"f8f07799e93a6201","type":"reddit-credentials","username":"btwbeatriz","user_agent":"nodered-test","auth_type":"username_password","name":"Reddit Busca"},{"id":"5511ba9d38f3756a","type":"debug","z":"915557c42c5b38fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":330,"y":60,"wires":[]},{"id":"9a583c305e06225f","type":"telegram receiver","z":"915557c42c5b38fe","name":"","bot":"","saveDataDir":"","filterCommands":false,"x":190,"y":160,"wires":[["5511ba9d38f3756a","b073d507d61cdf38"],[]]},{"id":"72e298fbddd106ec","type":"telegram sender","z":"915557c42c5b38fe","name":"","bot":"","haserroroutput":false,"outputs":1,"x":710,"y":360,"wires":[[]]},{"id":"55a77423cd382020","type":"watson-assistant-v2","z":"915557c42c5b38fe","name":"Assistente de Ecommerce","service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/ac643480-afc9-4e2a-9f17-0bd18d478391","assistant_id":"68ba01e8-5f32-4fb4-b1c4-b923a0aa2259","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"persist-session-id":false,"x":470,"y":300,"wires":[["5e1ce1d3abb7fd3e","fd585ba376c9fe54"]]},{"id":"b073d507d61cdf38","type":"function","z":"915557c42c5b38fe","name":"ProcIN","func":"msg.params={\n    'session_id': msg.payload.chatId\n}\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":240,"wires":[["55a77423cd382020","cbcb59f15debee27"]]},{"id":"5e1ce1d3abb7fd3e","type":"function","z":"915557c42c5b38fe","name":"ProcOUT","func":"msg.payload = {\n    'content':msg.payload.output.generic[0].text,\n    'chatId':msg.params.session_id,\n    'type':'message'\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":240,"wires":[["72e298fbddd106ec","efcafa54872f52ad"]]},{"id":"cbcb59f15debee27","type":"debug","z":"915557c42c5b38fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":60,"wires":[]},{"id":"fd585ba376c9fe54","type":"debug","z":"915557c42c5b38fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":60,"wires":[]},{"id":"efcafa54872f52ad","type":"debug","z":"915557c42c5b38fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":120,"wires":[]},{"id":"ea8c6183b781f763","type":"telegram receiver","z":"616b8b98766ed7cd","name":"","bot":"","saveDataDir":"","filterCommands":false,"x":110,"y":160,"wires":[["b957919a88121551","f3151d7647c69b32"],[]]},{"id":"93e60638c049adbd","type":"telegram sender","z":"616b8b98766ed7cd","name":"","bot":"","haserroroutput":false,"outputs":1,"x":1230,"y":220,"wires":[[]]},{"id":"b957919a88121551","type":"function","z":"616b8b98766ed7cd","name":"ProcIN","func":"msg.params = {\n    'session_id':msg.payload.chatId\n}\nmsg.payload = msg.payload.weblink\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":160,"wires":[["bb092e7d0be7d2ca","a69cade595fd11ac"]]},{"id":"44a68f7c107a0995","type":"function","z":"616b8b98766ed7cd","name":"ProcOUT","func":"msg.payload = {\n    'content':msg.payload,\n    'chatId':msg.params.session_id,\n    'type':'voice'\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":220,"wires":[["93e60638c049adbd","5bab24b10af73ff1"]]},{"id":"bb092e7d0be7d2ca","type":"watson-speech-to-text","z":"616b8b98766ed7cd","name":"STT","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"PZD-dohOrfH2_9Bvuf66-2LF0d048bPgA00qoAKV557s","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/593a647c-7169-4b69-8662-01d684a50678","x":490,"y":160,"wires":[["04d7a28e48abed38","8ee950d4b8400c77"]]},{"id":"f3151d7647c69b32","type":"debug","z":"616b8b98766ed7cd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":150,"y":60,"wires":[]},{"id":"a69cade595fd11ac","type":"debug","z":"616b8b98766ed7cd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":60,"wires":[]},{"id":"5bab24b10af73ff1","type":"debug","z":"616b8b98766ed7cd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":60,"wires":[]},{"id":"04d7a28e48abed38","type":"debug","z":"616b8b98766ed7cd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":60,"wires":[]},{"id":"263aedc85cd94a0f","type":"debug","z":"616b8b98766ed7cd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":320,"wires":[]},{"id":"8ee950d4b8400c77","type":"watson-assistant-v2","z":"616b8b98766ed7cd","name":"","service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/ac643480-afc9-4e2a-9f17-0bd18d478391","assistant_id":"68ba01e8-5f32-4fb4-b1c4-b923a0aa2259","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"persist-session-id":false,"x":490,"y":260,"wires":[["263aedc85cd94a0f","0c1af327fa4dca4e","e0c4a66854248482"]]},{"id":"63fd6d367af91829","type":"watson-text-to-speech","z":"616b8b98766ed7cd","name":"TTS","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaVoice","voicehidden":"","format":"audio/wav","password":"","apikey":"PZD-dohOrfH2_9Bvuf66-2LF0d048bPgA00qoAKV557s","payload-response":true,"service-endpoint":"https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/593a647c-7169-4b69-8662-01d684a50678","x":870,"y":220,"wires":[["44a68f7c107a0995"]]},{"id":"0c1af327fa4dca4e","type":"debug","z":"616b8b98766ed7cd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":60,"wires":[]},{"id":"e0c4a66854248482","type":"function","z":"616b8b98766ed7cd","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":220,"wires":[["63fd6d367af91829"]]},{"id":"ce5f2212.6e68b","type":"telegram receiver","z":"997f1a68.05f248","name":"","bot":"","saveDataDir":"","filterCommands":false,"x":90,"y":120,"wires":[["ed95b4a1.679298"],[]]},{"id":"273a24f2.ff449c","type":"telegram sender","z":"997f1a68.05f248","name":"","bot":"","haserroroutput":false,"outputs":1,"x":950,"y":160,"wires":[[]]},{"id":"da9750c.f88c7b","type":"function","z":"997f1a68.05f248","name":"ProcIN STT","func":"msg.params = {\n    'session_id':msg.payload.chatId\n}\nmsg.payload = msg.payload.weblink;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":100,"wires":[["45bc0ff1.d0312"]]},{"id":"58e95561.e6647c","type":"function","z":"997f1a68.05f248","name":"ProcIN TTS","func":"msg.params = {\n    'session_id':msg.payload.chatId\n}\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":200,"wires":[["b3688f5c.c84e5"]]},{"id":"45bc0ff1.d0312","type":"watson-speech-to-text","z":"997f1a68.05f248","name":"STT","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"kV63Dm220OPrTGw_fsXlUIW5cSLyp2XTOvewZNmwI13B","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/754d699d-64e3-4572-baf2-4548ce4a123b","x":570,"y":100,"wires":[["cae22c06.5a931"]]},{"id":"b3688f5c.c84e5","type":"watson-text-to-speech","z":"997f1a68.05f248","name":"TTS","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaVoice","voicehidden":"","format":"audio/wav","password":"","apikey":"PZD-dohOrfH2_9Bvuf66-2LF0d048bPgA00qoAKV557s","payload-response":false,"service-endpoint":"https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/593a647c-7169-4b69-8662-01d684a50678","x":570,"y":200,"wires":[["f32a3486.ad50e8"]]},{"id":"cae22c06.5a931","type":"function","z":"997f1a68.05f248","name":"ProcOUT STT","func":"msg.payload = {\n    'content':msg.payload,\n    'type':'message',\n    'chatId':msg.params.session_id\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":100,"wires":[["273a24f2.ff449c"]]},{"id":"f32a3486.ad50e8","type":"function","z":"997f1a68.05f248","name":"ProcOUT TTS","func":"msg.payload = {\n    'content':msg.payload,\n    'type':'voice',\n    'chatId':msg.params.session_id\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":200,"wires":[["273a24f2.ff449c"]]},{"id":"ed95b4a1.679298","type":"switch","z":"997f1a68.05f248","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"voice","vt":"str"},{"t":"eq","v":"message","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":180,"wires":[["da9750c.f88c7b"],["58e95561.e6647c"]]},{"id":"bc140eeb6463f39d","type":"telegram receiver","z":"fabd9cf20e326148","name":"","bot":"","saveDataDir":"","filterCommands":false,"x":70,"y":160,"wires":[["14f47ad383c51e3d"],[]]},{"id":"e5e7ed43555d7ef4","type":"telegram sender","z":"fabd9cf20e326148","name":"","bot":"","haserroroutput":false,"outputs":1,"x":830,"y":180,"wires":[[]]},{"id":"14f47ad383c51e3d","type":"switch","z":"fabd9cf20e326148","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":220,"wires":[["73ecfa63798e2d8b"],["87bda716189c0d1c"]]},{"id":"03a04663eb04f1de","type":"watson-speech-to-text","z":"fabd9cf20e326148","name":"","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"kV63Dm220OPrTGw_fsXlUIW5cSLyp2XTOvewZNmwI13B","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/754d699d-64e3-4572-baf2-4548ce4a123b","x":460,"y":140,"wires":[["5ed4126cf051e1eb"]]},{"id":"73ecfa63798e2d8b","type":"function","z":"fabd9cf20e326148","name":"","func":"msg.params = {\n    'session_id':msg.payload.chatId\n}\nmsg.payload = msg.payload.weblink;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":140,"wires":[["03a04663eb04f1de"]]},{"id":"5ed4126cf051e1eb","type":"function","z":"fabd9cf20e326148","name":"","func":"msg.payload = {\n    'content':msg.payload,\n    'type':'message',\n    'chatId':msg.params.session_id\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":140,"wires":[["e5e7ed43555d7ef4"]]},{"id":"87bda716189c0d1c","type":"function","z":"fabd9cf20e326148","name":"","func":"msg.params = {\n    'session_id':msg.payload.chatId\n}\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":260,"wires":[["d1269a23c10592f4"]]},{"id":"d1269a23c10592f4","type":"watson-text-to-speech","z":"fabd9cf20e326148","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_LisaV2Voice","voicehidden":"en-US_LisaV2Voice","format":"audio/wav","password":"","apikey":"PZD-dohOrfH2_9Bvuf66-2LF0d048bPgA00qoAKV557s","payload-response":false,"service-endpoint":"https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/593a647c-7169-4b69-8662-01d684a50678","x":540,"y":260,"wires":[["704c296f6096017e"]]},{"id":"704c296f6096017e","type":"function","z":"fabd9cf20e326148","name":"","func":"msg.payload = {\n    'content':msg.payload,\n    'type':'voice',\n    'chatId':msg.params.session_id\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":260,"wires":[["e5e7ed43555d7ef4"]]},{"id":"f5097c1d3ec9e936","type":"natural-language-understanding","z":"4accdecd2663e5cd","name":"NLU","categories":true,"limitcategories":"3","concepts":true,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":false,"doc-sentiment-target":"","entity":true,"entity-emotion":true,"entity-sentiment":true,"maxentities":"10","keyword":true,"keyword-emotion":true,"keyword-sentiment":true,"maxkeywords":"10","metadata":true,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","limittextcharacters":"0","syntax":false,"syntax-sentences":true,"syntax-tokens-lemma":true,"syntax-tokens-pos":true,"service-endpoint":"https://api.us-south.natural-language-understanding.watson.cloud.ibm.com/instances/c2e43204-c42a-4511-b3fc-381d6442d075","x":370,"y":140,"wires":[["e5a23fc0062498af","f3546bc240f1ea71"]]},{"id":"6ae8f6c1b661da69","type":"inject","z":"4accdecd2663e5cd","name":"Entrada","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"https://pt.wikipedia.org/wiki/Intelig%C3%AAncia_artificial","payloadType":"str","x":170,"y":140,"wires":[["f5097c1d3ec9e936"]]},{"id":"e5a23fc0062498af","type":"debug","z":"4accdecd2663e5cd","name":"Saída","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"features","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":140,"wires":[]},{"id":"f3546bc240f1ea71","type":"function","z":"4accdecd2663e5cd","name":"","func":"msg.payload = msg.features.entities[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":220,"wires":[["a422258963297fb4"]]},{"id":"a422258963297fb4","type":"debug","z":"4accdecd2663e5cd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":220,"wires":[]},{"id":"2c2e417211f0c67f","type":"natural-language-understanding","z":"7d39095d9a26ebd3","name":"NLU","categories":true,"limitcategories":"3","concepts":true,"maxconcepts":"5","doc-emotion":true,"doc-emotion-target":"","doc-sentiment":true,"doc-sentiment-target":"","entity":true,"entity-emotion":true,"entity-sentiment":true,"maxentities":"5","keyword":true,"keyword-emotion":true,"keyword-sentiment":true,"maxkeywords":"10","metadata":false,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","limittextcharacters":"0","syntax":true,"syntax-sentences":true,"syntax-tokens-lemma":true,"syntax-tokens-pos":true,"service-endpoint":"https://api.us-south.natural-language-understanding.watson.cloud.ibm.com/instances/c2e43204-c42a-4511-b3fc-381d6442d075","x":530,"y":220,"wires":[["e0ad153654b82fe6"]]},{"id":"571ac67d3e573681","type":"telegram receiver","z":"7d39095d9a26ebd3","name":"","bot":"","saveDataDir":"","filterCommands":false,"x":110,"y":220,"wires":[["1d9f250033ade68b","7b3f56108754ef18"],[]]},{"id":"1d9f250033ade68b","type":"function","z":"7d39095d9a26ebd3","name":"ProcIn","func":"msg.params = {\n    'session_id':msg.payload.chatId\n}\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":150,"y":140,"wires":[["7948087cf0ab45c2","a996c9a741306406"]]},{"id":"7948087cf0ab45c2","type":"watson-translator","z":"7d39095d9a26ebd3","name":"WT pt2en","action":"translate","basemodel":"ar-en","domain":"general","srclang":"pt","destlang":"en","password":"","apikey":"YKNjrTVa-sGTIzN7xZtagv-pQHT8PaRDAab5zL-YMzKi","custom":"","domainhidden":"general","srclanghidden":"pt","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.us-south.language-translator.watson.cloud.ibm.com/instances/26141274-7a14-4af7-a098-53bad717cbf7","x":340,"y":140,"wires":[["c0fe96fab5c07da2"]]},{"id":"c0fe96fab5c07da2","type":"get","z":"7d39095d9a26ebd3","name":"","reddit":"f8f07799e93a6201","content_type":"submission","submission_source":"subreddit","comment_source":"subreddit","pm_source":"inbox","content_source":"saved","subreddit":"{{payload}}","user":"","limit":"3","sort":"hot","time":"hour","fetch_all":"false","submission":"","depth":"","content_id":"","x":520,"y":140,"wires":[["e27186b252aaae6f","665add3485b58013"]]},{"id":"e27186b252aaae6f","type":"function","z":"7d39095d9a26ebd3","name":"ProcIn NLU","func":"msg.autor = {\n    'nome':msg.payload.author_fullname\n}\nmsg.payload = msg.payload.title;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":220,"wires":[["2c2e417211f0c67f"]]},{"id":"e0ad153654b82fe6","type":"watson-translator","z":"7d39095d9a26ebd3","name":"WT en2pt","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"pt","password":"","apikey":"","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"pt","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"","x":680,"y":220,"wires":[["b27103c52590d1cc","9a52382e81102e0f"]]},{"id":"b27103c52590d1cc","type":"function","z":"7d39095d9a26ebd3","name":"ProcOut","func":"let imax = msg.features.concepts.lenght;\nlet conceitos = '';\nfor (let i = 0; i < imax; i++){\nconceitos = msg.features.concepts[i].text+', '+conceitos;\n}\n\nlet sentimento = msg.features.sentiment.document.label;\n\nimax = msg.features.categories.lenght;\nlet categorias = '';\nfor (let i = 0; i < imax; 1++){\n    categorias = msg.features.categories[i].label+', '+categorias;\n}\n\nlet r1='Segundo '+msg.autor.nome+' há informações sobre '+conceitos;\nlet r2='que se inserem nas seguintes categorias '+categorias+',\\n';\nlet r3='O assunto é predominante '+sentimento+'\\n';\nlet r4='O assunto é: '+msg.payload;\n\nmsg.payload ={\n    chatId:msg.params.id,\n    type:'message',\n    content:r1+r2+r3+r4\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":300,"wires":[["3fda7be62ee031b7","2a896fd279a2fb54"]]},{"id":"3fda7be62ee031b7","type":"telegram sender","z":"7d39095d9a26ebd3","name":"","bot":"","haserroroutput":false,"outputs":1,"x":690,"y":300,"wires":[[]]},{"id":"7b3f56108754ef18","type":"debug","z":"7d39095d9a26ebd3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":130,"y":60,"wires":[]},{"id":"a996c9a741306406","type":"debug","z":"7d39095d9a26ebd3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":60,"wires":[]},{"id":"665add3485b58013","type":"debug","z":"7d39095d9a26ebd3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":60,"wires":[]},{"id":"9a52382e81102e0f","type":"debug","z":"7d39095d9a26ebd3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":140,"wires":[]},{"id":"2a896fd279a2fb54","type":"debug","z":"7d39095d9a26ebd3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":380,"wires":[]},{"id":"bd6c5965de9c2fef","type":"telegram receiver","z":"2488d253d8cf8225","name":"","bot":"9bf591f84937b9eb","saveDataDir":"","filterCommands":false,"x":90,"y":180,"wires":[["57fe613ece9b038d","1063c69c82bb3d7f"],[]]},{"id":"1063c69c82bb3d7f","type":"debug","z":"2488d253d8cf8225","name":"Entrada","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":200,"y":80,"wires":[]},{"id":"57fe613ece9b038d","type":"function","z":"2488d253d8cf8225","name":"ProcIn","func":"//Informações gerais\nmsg.params = {\n    session_id: msg.payload.chatId,\n    tipo: msg.payload.type,\n    rev: ''\n};\n//Conteúdo da mensagem\nmsg.conteudo = {\n    content: msg.payload.content\n};\n//Requisição ao Banco de Dados\nmsg.payload = {\n    \"_id\": String(msg.payload.chatId)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":180,"wires":[["fabcd42d5d353fa1"]]},{"id":"fabcd42d5d353fa1","type":"cloudant in","z":"2488d253d8cf8225","name":"","cloudant":"","database":"database_bot","service":"node-red-fiap-cloudant-1649678053249-45432","search":"_id_","design":"","index":"","x":480,"y":180,"wires":[["637651146a31fc7f","d34f622ce1b7da7b"]]},{"id":"637651146a31fc7f","type":"debug","z":"2488d253d8cf8225","name":"RetornoDB","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":60,"wires":[]},{"id":"d34f622ce1b7da7b","type":"switch","z":"2488d253d8cf8225","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"null","vt":"jsonata"},{"t":"neq","v":"null","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":180,"wires":[["8637f0dec46f11e3"],["2feb289909989f2d"]]},{"id":"8637f0dec46f11e3","type":"function","z":"2488d253d8cf8225","name":"Sem registro","func":"msg.payload = msg.conteudo.content;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":60,"wires":[["6d548c9e8585ebd3","5187e9b63823bc5f"]]},{"id":"2feb289909989f2d","type":"function","z":"2488d253d8cf8225","name":"Com registro","func":"msg.params.rev = msg.payload._rev;\nmsg.additional_context = {}\n\nif (msg.payload.context){\n    if (\"cep\" in msg.payload.context){\n        msg.additional_context[\"cep\"] = msg.payload.context.cep\n    }\n    if (\"telefone\" in msg.payload.context){\n        msg.additional_context[\"telefone\"] = msg.payload.context.telefone\n    }\n    if (\"email\" in msg.payload.context){\n        msg.additional_context[\"email\"] = msg.payload.context.email\n    }\n}\nmsg.payload = msg.conteudo.content;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":240,"wires":[["5187e9b63823bc5f","bde87eb386d3d334","8f34d6749826823c"]]},{"id":"6d548c9e8585ebd3","type":"debug","z":"2488d253d8cf8225","name":"Sem registro","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":60,"wires":[]},{"id":"5187e9b63823bc5f","type":"watson-assistant-v2","z":"2488d253d8cf8225","name":"Assistente de Ecommerce","service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/ac643480-afc9-4e2a-9f17-0bd18d478391","assistant_id":"68ba01e8-5f32-4fb4-b1c4-b923a0aa2259","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"persist-session-id":false,"x":990,"y":140,"wires":[["a0ce2cf44d449572","ee505f06026403e7"]]},{"id":"a0ce2cf44d449572","type":"debug","z":"2488d253d8cf8225","name":"RespostaWA","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":80,"wires":[]},{"id":"ee505f06026403e7","type":"function","z":"2488d253d8cf8225","name":"ProcIN DB","func":"//Resposta que vai para o usuário\nlet imax = msg.payload.output.generic.length;\nlet resposta = ''\nfor (let i = 0; i <imax; i++){\n    resposta = resposta+'\\n'+msg.payload.output.generic[i].text;\n}\nmsg.payload2 = resposta;\n\nlet u_cont = msg.payload.context.skills['main skill'].user_defined\n\n//Primeira entrada no Banco de Dados\nif (msg.params.rev == ''){\n    msg.payload = {\n        \"_id\": String(msg.params.session_id),\n        \"context\": u_cont\n    }\n//Demais entradas no Banco de Dados\n}else{\n    msg.payload = {\n        \"_id\": String(msg.params.session_id),\n        \"context\": u_cont,\n        \"_rev\": String(msg.params.rev)\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":170,"y":300,"wires":[["1344618413b69696","9ca199060be647ac","30183fdd5319e1a6"]]},{"id":"1344618413b69696","type":"function","z":"2488d253d8cf8225","name":"ProcOut","func":"msg.payload = {\n    chatId: msg.params.session_id,\n    type: msg.params.tipo,\n    content: msg.payload2\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":300,"wires":[["4630e39e5a834f99","2a05a80c6e90715d"]]},{"id":"4630e39e5a834f99","type":"telegram sender","z":"2488d253d8cf8225","name":"","bot":"9bf591f84937b9eb","haserroroutput":false,"outputs":1,"x":630,"y":300,"wires":[[]]},{"id":"bde87eb386d3d334","type":"debug","z":"2488d253d8cf8225","name":"Com registro","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":240,"wires":[]},{"id":"8f34d6749826823c","type":"debug","z":"2488d253d8cf8225","name":"Contexto","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"additional_context","targetType":"msg","statusVal":"","statusType":"auto","x":1040,"y":300,"wires":[]},{"id":"9ca199060be647ac","type":"debug","z":"2488d253d8cf8225","name":"Mensagem","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":170,"y":420,"wires":[]},{"id":"30183fdd5319e1a6","type":"cloudant out","z":"2488d253d8cf8225","name":"","cloudant":"","database":"database_bot","service":"node-red-fiap-cloudant-1649678053249-45432","payonly":true,"operation":"insert","x":400,"y":420,"wires":[]},{"id":"2a05a80c6e90715d","type":"debug","z":"2488d253d8cf8225","name":"Saída","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":420,"wires":[]}]