Watson/flows_switch.json
[{"id":"915557c42c5b38fe","type":"tab","label":"Flow 1","disabled":true,"info":"","env":[]},{"id":"616b8b98766ed7cd","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"74b7baafe9ed635b","type":"tab","label":"Flow 3","disabled":false,"info":"","env":[]},{"id":"997f1a68.05f248","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"164444c715bf85c8","type":"tab","label":"Flow 4","disabled":false,"info":"","env":[]},{"id":"fabd9cf20e326148","type":"tab","label":"Flow 5","disabled":false,"info":"","env":[]},{"id":"9bf591f84937b9eb","type":"telegram bot","botname":"FAQ_fiap_1tdsf22_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"b44a34da441702fa","type":"telegram bot","botname":"FAQ_fiap_1tdsf22_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"6a840a6f.80ab34","type":"telegram bot","botname":"t.me/FAQ_fiap_1tdsf22_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"7cf500d5da23c9bc","type":"telegram bot","botname":"FAQ_fiap_1tdsf22_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"5511ba9d38f3756a","type":"debug","z":"915557c42c5b38fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":330,"y":60,"wires":[]},{"id":"9a583c305e06225f","type":"telegram receiver","z":"915557c42c5b38fe","name":"","bot":"b44a34da441702fa","saveDataDir":"","filterCommands":false,"x":190,"y":160,"wires":[["5511ba9d38f3756a","b073d507d61cdf38"],[]]},{"id":"72e298fbddd106ec","type":"telegram sender","z":"915557c42c5b38fe","name":"","bot":"b44a34da441702fa","haserroroutput":false,"outputs":1,"x":710,"y":360,"wires":[[]]},{"id":"55a77423cd382020","type":"watson-assistant-v2","z":"915557c42c5b38fe","name":"Assistente de Ecommerce","service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/ac643480-afc9-4e2a-9f17-0bd18d478391","assistant_id":"68ba01e8-5f32-4fb4-b1c4-b923a0aa2259","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"persist-session-id":false,"x":470,"y":300,"wires":[["5e1ce1d3abb7fd3e","fd585ba376c9fe54"]]},{"id":"b073d507d61cdf38","type":"function","z":"915557c42c5b38fe","name":"ProcIN","func":"msg.params={\n    'session_id': msg.payload.chatId\n}\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":240,"wires":[["55a77423cd382020","cbcb59f15debee27"]]},{"id":"5e1ce1d3abb7fd3e","type":"function","z":"915557c42c5b38fe","name":"ProcOUT","func":"msg.payload = {\n    'content':msg.payload.output.generic[0].text,\n    'chatId':msg.params.session_id,\n    'type':'message'\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":240,"wires":[["72e298fbddd106ec","efcafa54872f52ad"]]},{"id":"cbcb59f15debee27","type":"debug","z":"915557c42c5b38fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":60,"wires":[]},{"id":"fd585ba376c9fe54","type":"debug","z":"915557c42c5b38fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":60,"wires":[]},{"id":"efcafa54872f52ad","type":"debug","z":"915557c42c5b38fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":120,"wires":[]},{"id":"ea8c6183b781f763","type":"telegram receiver","z":"616b8b98766ed7cd","name":"","bot":"b44a34da441702fa","saveDataDir":"","filterCommands":false,"x":110,"y":160,"wires":[["b957919a88121551","f3151d7647c69b32"],[]]},{"id":"93e60638c049adbd","type":"telegram sender","z":"616b8b98766ed7cd","name":"","bot":"b44a34da441702fa","haserroroutput":false,"outputs":1,"x":1230,"y":220,"wires":[[]]},{"id":"b957919a88121551","type":"function","z":"616b8b98766ed7cd","name":"ProcIN","func":"msg.params = {\n    'session_id':msg.payload.chatId\n}\nmsg.payload = msg.payload.weblink\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":160,"wires":[["bb092e7d0be7d2ca","a69cade595fd11ac"]]},{"id":"44a68f7c107a0995","type":"function","z":"616b8b98766ed7cd","name":"ProcOUT","func":"msg.payload = {\n    'content':msg.payload,\n    'chatId':msg.params.session_id,\n    'type':'voice'\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":220,"wires":[["93e60638c049adbd","5bab24b10af73ff1"]]},{"id":"bb092e7d0be7d2ca","type":"watson-speech-to-text","z":"616b8b98766ed7cd","name":"STT","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"PZD-dohOrfH2_9Bvuf66-2LF0d048bPgA00qoAKV557s","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/593a647c-7169-4b69-8662-01d684a50678","x":490,"y":160,"wires":[["04d7a28e48abed38","8ee950d4b8400c77"]]},{"id":"f3151d7647c69b32","type":"debug","z":"616b8b98766ed7cd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":150,"y":60,"wires":[]},{"id":"a69cade595fd11ac","type":"debug","z":"616b8b98766ed7cd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":60,"wires":[]},{"id":"5bab24b10af73ff1","type":"debug","z":"616b8b98766ed7cd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":60,"wires":[]},{"id":"04d7a28e48abed38","type":"debug","z":"616b8b98766ed7cd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":60,"wires":[]},{"id":"263aedc85cd94a0f","type":"debug","z":"616b8b98766ed7cd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":320,"wires":[]},{"id":"8ee950d4b8400c77","type":"watson-assistant-v2","z":"616b8b98766ed7cd","name":"","service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/ac643480-afc9-4e2a-9f17-0bd18d478391","assistant_id":"68ba01e8-5f32-4fb4-b1c4-b923a0aa2259","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"persist-session-id":false,"x":490,"y":260,"wires":[["263aedc85cd94a0f","0c1af327fa4dca4e","e0c4a66854248482"]]},{"id":"63fd6d367af91829","type":"watson-text-to-speech","z":"616b8b98766ed7cd","name":"TTS","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaVoice","voicehidden":"","format":"audio/wav","password":"","apikey":"PZD-dohOrfH2_9Bvuf66-2LF0d048bPgA00qoAKV557s","payload-response":true,"service-endpoint":"https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/593a647c-7169-4b69-8662-01d684a50678","x":870,"y":220,"wires":[["44a68f7c107a0995"]]},{"id":"0c1af327fa4dca4e","type":"debug","z":"616b8b98766ed7cd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":60,"wires":[]},{"id":"e0c4a66854248482","type":"function","z":"616b8b98766ed7cd","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":220,"wires":[["63fd6d367af91829"]]},{"id":"ce5f2212.6e68b","type":"telegram receiver","z":"997f1a68.05f248","name":"","bot":"6a840a6f.80ab34","saveDataDir":"","filterCommands":false,"x":90,"y":120,"wires":[["ed95b4a1.679298"],[]]},{"id":"273a24f2.ff449c","type":"telegram sender","z":"997f1a68.05f248","name":"","bot":"6a840a6f.80ab34","haserroroutput":false,"outputs":1,"x":950,"y":160,"wires":[[]]},{"id":"da9750c.f88c7b","type":"function","z":"997f1a68.05f248","name":"ProcIN STT","func":"msg.params = {\n    'session_id':msg.payload.chatId\n}\nmsg.payload = msg.payload.weblink;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":100,"wires":[["45bc0ff1.d0312"]]},{"id":"58e95561.e6647c","type":"function","z":"997f1a68.05f248","name":"ProcIN TTS","func":"msg.params = {\n    'session_id':msg.payload.chatId\n}\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":200,"wires":[["b3688f5c.c84e5"]]},{"id":"45bc0ff1.d0312","type":"watson-speech-to-text","z":"997f1a68.05f248","name":"STT","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"kV63Dm220OPrTGw_fsXlUIW5cSLyp2XTOvewZNmwI13B","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/754d699d-64e3-4572-baf2-4548ce4a123b","x":570,"y":100,"wires":[["cae22c06.5a931"]]},{"id":"b3688f5c.c84e5","type":"watson-text-to-speech","z":"997f1a68.05f248","name":"TTS","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaVoice","voicehidden":"","format":"audio/wav","password":"","apikey":"PZD-dohOrfH2_9Bvuf66-2LF0d048bPgA00qoAKV557s","payload-response":false,"service-endpoint":"https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/593a647c-7169-4b69-8662-01d684a50678","x":570,"y":200,"wires":[["f32a3486.ad50e8"]]},{"id":"cae22c06.5a931","type":"function","z":"997f1a68.05f248","name":"ProcOUT STT","func":"msg.payload = {\n    'content':msg.payload,\n    'type':'message',\n    'chatId':msg.params.session_id\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":100,"wires":[["273a24f2.ff449c"]]},{"id":"f32a3486.ad50e8","type":"function","z":"997f1a68.05f248","name":"ProcOUT TTS","func":"msg.payload = {\n    'content':msg.payload,\n    'type':'voice',\n    'chatId':msg.params.session_id\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":200,"wires":[["273a24f2.ff449c"]]},{"id":"ed95b4a1.679298","type":"switch","z":"997f1a68.05f248","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"voice","vt":"str"},{"t":"eq","v":"message","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":180,"wires":[["da9750c.f88c7b"],["58e95561.e6647c"]]},{"id":"bc140eeb6463f39d","type":"telegram receiver","z":"fabd9cf20e326148","name":"","bot":"7cf500d5da23c9bc","saveDataDir":"","filterCommands":false,"x":70,"y":160,"wires":[["14f47ad383c51e3d"],[]]},{"id":"e5e7ed43555d7ef4","type":"telegram sender","z":"fabd9cf20e326148","name":"","bot":"7cf500d5da23c9bc","haserroroutput":false,"outputs":1,"x":830,"y":180,"wires":[[]]},{"id":"14f47ad383c51e3d","type":"switch","z":"fabd9cf20e326148","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":220,"wires":[["73ecfa63798e2d8b"],["87bda716189c0d1c"]]},{"id":"03a04663eb04f1de","type":"watson-speech-to-text","z":"fabd9cf20e326148","name":"","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"kV63Dm220OPrTGw_fsXlUIW5cSLyp2XTOvewZNmwI13B","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/754d699d-64e3-4572-baf2-4548ce4a123b","x":460,"y":140,"wires":[["5ed4126cf051e1eb"]]},{"id":"73ecfa63798e2d8b","type":"function","z":"fabd9cf20e326148","name":"","func":"msg.params = {\n    'session_id':msg.payload.chatId\n}\nmsg.payload = msg.payload.weblink;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":140,"wires":[["03a04663eb04f1de"]]},{"id":"5ed4126cf051e1eb","type":"function","z":"fabd9cf20e326148","name":"","func":"msg.payload = {\n    'content':msg.payload,\n    'type':'message',\n    'chatId':msg.params.session_id\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":140,"wires":[["e5e7ed43555d7ef4"]]},{"id":"87bda716189c0d1c","type":"function","z":"fabd9cf20e326148","name":"","func":"msg.params = {\n    'session_id':msg.payload.chatId\n}\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":260,"wires":[["d1269a23c10592f4"]]},{"id":"d1269a23c10592f4","type":"watson-text-to-speech","z":"fabd9cf20e326148","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_LisaV2Voice","voicehidden":"en-US_LisaV2Voice","format":"audio/wav","password":"","apikey":"PZD-dohOrfH2_9Bvuf66-2LF0d048bPgA00qoAKV557s","payload-response":false,"service-endpoint":"https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/593a647c-7169-4b69-8662-01d684a50678","x":540,"y":260,"wires":[["704c296f6096017e"]]},{"id":"704c296f6096017e","type":"function","z":"fabd9cf20e326148","name":"","func":"msg.payload = {\n    'content':msg.payload,\n    'type':'voice',\n    'chatId':msg.params.session_id\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":260,"wires":[["e5e7ed43555d7ef4"]]}]